@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  position: fixed;
  width: 100%;
  padding: 15px 50px 15px 0;
  z-index: 3;
  transition: background-color 0.2s;
}

svg {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 2.5rem;
}
nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
nav ul li a div {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 18px;
}

.hero {
  height: 100vh;
  height: 100svh;
  background: #371A1D;
  display: flex;
  position: relative;
  z-index: 0;
}

.hero-text {
  width: 50%;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.text-container {
  margin-top: 9rem;
  position: absolute;
  right: 0.5rem;
  width: min-content;
}
.text-container > h1:first-child {
  width: fit-content;
  white-space: nowrap;
}
.text-container h1 {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.text-container h1 .title-positive {
  color: #371A1D;
  position: absolute;
  right: -0.8rem;
  transform: translateX(100%);
  z-index: 2;
  transition: 0.4s ease-in-out;
}
.text-container p {
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  width: 90%;
  line-height: 1.8rem;
}
.text-container button {
  color: rgba(255, 255, 255, 0.8);
  padding: 1em 2em;
  margin-top: 40px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: none;
}

.hero-images {
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel button {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.carousel button svg {
  width: 40px;
  pointer-events: none;
}
.carousel button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.carousel .slide-left {
  left: 2.5rem;
}
.carousel .slide-right {
  right: 2.5rem;
}

ul[data-slides] {
  list-style: none;
}
ul[data-slides] .slide {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
  transition-delay: 0.2s;
}
ul[data-slides] .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul[data-slides] .slide[data-active] {
  opacity: 1;
  transition-delay: 0s;
}

.quote {
  background: #CFAD9D;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 1.8rem 20% 1.2rem 20%;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 2;
}
.quote > p:first-child {
  width: fit-content;
  line-height: 2.1rem;
}
.quote > p:nth-child(2) {
  align-self: end;
  font-family: "Lato", sans-serif;
}

.classic-boards {
  display: flex;
  justify-content: start;
  padding: 100px;
  background: white;
  position: relative;
  z-index: 2;
}

.images {
  min-width: 430px;
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.images > :first-child {
  margin-bottom: 60px;
}
.images > :nth-child(2) {
  align-self: end;
}
.images .img-container {
  width: 350px;
  height: 350px;
  position: relative;
}
.images .img-container * {
  position: absolute;
  inset: 0;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images .box-background {
  width: 100%;
  height: 100%;
  background: #BF927D;
  z-index: -1;
  left: 25px;
  top: -25px;
}

.details {
  position: relative;
}
.details h2 {
  font-family: "Playfair Display", serif;
  color: #371A1D;
  font-size: 2.1rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 3rem;
  margin-top: 7rem;
}
.details h2 span {
  font-family: "Lato", sans-serif;
  color: #BF927D;
}
.details .details-para {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 25px;
  line-height: 2rem;
  width: 85%;
}
.details button {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BF927D;
  border: none;
  padding: 1em 1.7em;
}
.details button p {
  color: #371A1D;
  font-size: 18px;
}
.details .pawn-bg {
  height: 350px;
  opacity: 20%;
  position: absolute;
  top: -100px;
  left: -170px;
  z-index: -1;
}
.details .king-bg {
  opacity: 20%;
  height: 400px;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 180px;
}

.costumer-reviews {
  background: #371A1D;
  padding: 70px 100px 90px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.costumer-reviews h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.1rem;
  text-align: center;
}

.costumers {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 40px;
  gap: 50px;
}

.costumers li {
  background: #CFAD9D;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  position: relative;
  padding: 25px;
}
.costumers li .costumer-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.costumers li .costumer-image img {
  position: relative;
}
.costumers li img.jfk {
  left: -40px;
  top: -50px;
  transform: scale(0.7);
}
.costumers li img.greta {
  left: -30px;
  transform: scale(0.9);
  top: -15px;
}
.costumers li img.hans {
  transform: scale(0.5);
  left: -270px;
  top: -110px;
}
.costumers li p[data-review] {
  text-align: center;
  margin-top: 25px;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.8rem;
  margin-bottom: 25px;
}

.costumer-name {
  width: 11rem;
  position: absolute;
  bottom: 0;
  transform: translate(-2%, 50%);
}
.costumer-name .name-front {
  background: black;
  padding: 3px 0 3px 0;
}
.costumer-name .name-front p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1.1rem;
}
.costumer-name .name-bg {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.limited-edition {
  position: relative;
  z-index: 2;
  height: 750px;
}
.limited-edition > *:not(img) {
  margin: 0 100px;
}
.limited-edition img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.limited-edition h1 {
  color: #92DAEA;
  font-size: 3.5rem;
  padding-top: 4rem;
}
.limited-edition .content {
  position: absolute;
  top: 0;
}
.limited-edition p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  margin-top: 2.5rem;
  line-height: 1.8rem;
  width: 45%;
}
.limited-edition p::first-letter {
  font-size: 2.5rem;
  color: #92DAEA;
  font-family: "Playfair Display", serif;
  margin-right: 0.2rem;
}
.limited-edition button {
  color: rgba(255, 255, 255, 0.8);
  padding: 1em 2em;
  margin-top: 40px;
  border: 2px solid #92DAEA;
  background: none;
}

footer {
  min-width: 100%;
  background: #371A1D;
  z-index: 3;
  position: relative;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer svg {
  width: 30px;
  height: 30px;
}
footer .social-media-icons > * {
  margin-right: 20px;
}
footer .copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Lato", sans-serif;
}
footer .copyright svg {
  margin-left: 20px;
}
footer .copyright a {
  text-decoration: none;
  color: #CFAD9D;
}

button:hover,
svg:hover,
.logo:hover {
  cursor: pointer;
}

button:not(button[data-carousel-button]):hover {
  transform: scale(0.98);
}

button {
  transition: transform 0.2s;
}

/*# sourceMappingURL=style.css.map */
